.center-form {
    display: flex;
    justify-content: center;
}

.text-center {
    color: violet;
}

.img-thumbnail {
    object-fit: cover;
    width: 100%;
    height: 200px; /* Adjust the height as needed */
}

.black-text {
    color: black;
  }
  
  /* test */

/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

    /* Custom styles for responsive buttons */
    .btn-custom {
        padding: 30px;
        width: 100%;
      }
      
      /* Responsive padding */
      @media (max-width: 768px) {
        .btn-custom {
          padding: 20px;
        }
      }

      hr {
        border: 0;
        height: 4px;
        background: #ac0868;
        width: 100%;
        margin: 20px auto;
    }

    .navbar-custom {
        background-color: #f8f9fa; /* Light background for the navbar */
    }
    .navbar-brand img {
        height: 40px; /* Adjust logo size */
    }
    .nav-link {
        color: #000; /* Black text color */
    }
    .nav-link:hover {
        color: #be0aa6; /* Darker text color on hover */
    }
    .btn-custom {
        background-color: purple; /* Sets the button background color to purple */
        color: rgb(252, 0, 239); /* Sets the text color to white for contrast */
        border: none; /* Removes the default border */
        padding: 10px 20px; /* Adds padding for a better appearance */
        font-size: 16px; /* Sets a readable font size */
        cursor: pointer; /* Changes the cursor to a pointer when hovered */
        border-radius: 4px; /* Adds slightly rounded corners */
    }
    
    .btn-custom:hover {
        background-color: darkviolet; /* Changes the button color on hover */
    }
    